<strong>SocialThon</strong>
<style>
img {
  width: 100%;
 margin-top: -10px;
}
</style>
<img><%= image_tag("https://capetowntownshiptour.files.wordpress.com/2010/03/pg-35-11597991.jpg") %></img>

<p><%= link_to 'Community', communities_path%></p>
<p><%= link_to 'About Us', teams_path%></p>
<p><%= link_to 'Projects', projects_path%></p>
