<!-- ==== HEADERWRAP ==== -->

<div id="headerwrap" id="home" name="home" style="background:url('http://i.imgur.com/G05BokS.jpg') no-repeat center top; background-size: cover;">
   <header class="clearfix">

      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
      <style>
      .title{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   }
         h1 {
         font-family: 'Roboto Slab', serif;
         
         font-size: 80px;
         color: #aaaaaa;
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         
         margin-bottom: 0.67em;
         background: none !important;
         padding: 0 !important;
         }


         h2 {
         font-family: 'Roboto Slab', serif;
         text-align: center;
         font-size: 40px;
         color: white;
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         }

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
      </style>
      <%=render 'nav'%>
      <h1><span class="icon icon-shield"></span></h1>
         <h1><center>Socialthon</center></h1>
          
         <h2><div class="title">For Khayelitsha Community </div></h2>
        
   </header>
</div>
<!-- /headerwrap -->
<section id="sixth" class="services text-center">
   <a class="anchor" id="whycode"></a>
   <div class="wrapper bg-colored ">
      <div class="container">
         <div class="row">
            <div class="span10 offset1">
               <br>
               <br>
               <h4 class="centered">VOLUNTEERING IN TOWNSHIP</h4>
               <div class="underline">
                  <hr />
               </div>
               <br>
               <div class="megawrapper">
                  <div class='videowrapper'>
                     <iframe id="youtube-pOG5uB8p8ew" class="youtube" width="970" height="546" src="http://www.youtube.com/embed/pOG5uB8p8ew" frameborder="0" allowfullscreen></iframe>
                     <br>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/UFzyRKk.jpg') no-repeat center top; background-size: cover;">
      <div class="container">
         <h3>
            <div class="title">

            <font size="40">Be the change you wish to see in the world</font>
            <hr>
            <font size="9"> <p> From the purely practical to the richly philosophical,<br> design is the solution to a host of challenges.</p></font>
            </div>
         </h3>
      </div>
      <!-- container -->
   </section>
   <!-- ==== PORTFOLIO ==== -->
   <div class="container" id="portfolio" name="portfolio">
      <br>
      <div class="row">
         <br>
         <h4 class="centered">OUR PROJECTS</h4>
         <hr>
         <br>
      </div>
      <!-- /row -->
      <div class="container">
         <div class="row">
            <!-- PORTFOLIO IMAGE 1 -->
            <div class="col-md-4 ">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="https://africaineblog.files.wordpress.com/2010/08/zz2_5240.jpg" alt="">
                     <figcaption>
                        <h5>Education</h5>
                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
               a modal for each of your projects. -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Education</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://mypr.co.za/wp-content/uploads/2015/04/South-Africa-Education-Market.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- PORTFOLIO IMAGE 2 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://travelblog.mtsobek.com/wp-content/uploads/2011/11/khayelitsha_township.jpg" alt="">
                     <figcaption>
                        <h5>Poverty</h5>
                        <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Poverty</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.timeslive.co.za/Feeds/2012/05/09/903136_762489.jpg/ALTERNATES/crop_630x400/903136_762489.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
            
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- PORTFOLIO IMAGE 2 -->
            <!-- PORTFOLIO IMAGE 3 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="https://redcrossyouth.files.wordpress.com/2011/08/regina_central-african-republic-daniel-cima.jpg" alt="">
                     <figcaption>
                        <h5>Health</h5>
                        <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Health</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.sagoodnews.co.za/images/Health-Clinic-on-Wheels-for-SA.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                     
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            </div>
            <!-- /col -->
        
         <!-- /row -->
         <!-- PORTFOLIO IMAGE 4 -->
         <div class="row">
            <div class="col-md-4 ">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://groundup.org.za/sites/default/files/styles/article_image/public/field/image/children_lose_their_playground.JPG?itok=wIkyQcXo" alt="">
                     <figcaption>
                        <h5>Arts & Culture</h5>
                        <a data-toggle="modal" href="#myModal3" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Arts & Culture</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://3.bp.blogspot.com/-A83WV9wiRuo/VC25LeRWrwI/AAAAAAAAqJw/KeWGL6G7nJY/s1600/10306643_10152557212474213_913169517535983530_n.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            
            <!-- /col -->
            <!-- PORTFOLIO IMAGE 5 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://3.bp.blogspot.com/-nbkjF53nRJM/ThxYtjSSMKI/AAAAAAAAACg/3IuibhY4i-c/s1600/01300470.jpg" alt="">
                     <figcaption>
                        <h5>Business</h5>
                        <a data-toggle="modal" href="#myModal5" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Business</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.capetown.travel/cache/ce_cache/made/IMG_7700_(3)_580_387_80_s.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            
            <!-- /col -->
            <!-- PORTFOLIO IMAGE 6 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://africagreenmedia.co.za/wp-content/uploads/2015/05/FS.jpg" alt="">
                     <figcaption>
                        <h5>Food Security</h5>
                        <a data-toggle="modal" href="#myModal6" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Food Security</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.irtiqa.co.za/wp-content/uploads/2013/10/green-deen.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
         <!-- /row -->
         <br>
         <br>
      </div>
      <!-- /row -->
   </div>
   </div>
   </section>
   <!-- /container -->
   <!-- ==== SECTION DIVIDER4 ==== -->
   
   <!-- ==== SECTION DIVIDER6 ==== -->

<div class="container">
    <div class="page-header">
        <h1 id="timeline">Socialthon is on F.I.R.E</h1>
         <p>https://www.facebook.com/groups/socialthon/</p>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-hand-left"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Humble Beginning</h4>
              <center><p><class="text-muted">06.02.2015
              </p></center>
            </div>
            <div class="timeline-body">
             <center> <strong><p>Visit The CiTi Barn</p></strong></center>
            </div>
            <div class="timeline-body">
                       
             
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Birth of SOCIALTHON</h4>
              <center><p><class="text-muted">06.06.2015 </center>
            </div>
            <div class="timeline-body">
              <p><center> <strong>First Meeting: @ Kneed</strong></center> </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-eye-open"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Second Meeting</h4>
              <center><p><class="text-muted">06.12.2015 </center>
            </div>
            <div class="timeline-body">
              <p><center> <strong> Getting Data From the Town: @ Kneed</strong></center> </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge default"><i class="glyphicon glyphicon-home"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Socialthon ~ing</h4>
              <center><p><class="text-muted">July </center>
            </div>
            <div class="timeline-body">
              <p><center> Contact WFUNA @ Global Hackathon Seoul</center> </p>
            </div>
          </div>
        </li>
        <li>
           <div class="timeline-badge default"><i class="glyphicon glyphicon-arrow-left"></i></div>
               <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Socialthon ~ing</h4>
              <center><p><class="text-muted">Nov.2015~Feb.2016 </center>
            </div>
            <div class="timeline-body">
              <p><center> Partnership with Hackathons in the US</center> </p>
            </div>
          </div>
        </li>
    </ul>
</div>


<!-- ==== SECTION DIVIDER6 ==== -->


<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6" style="background:url('http://aow.co.za/wp-content/uploads/2012/07/2816-Aow-Anton-Gericke.jpg') no-repeat center top; background-size: cover;">
   <div class="container">
      <h3>
      <br>
      <div class="title">
         <font size="80">Khayelitsha Community </font>
         <hr>
         <p>Cape Town</p>
      </h3>
      </div>
   </div>
   <!-- container -->
</section>
<!-- section -->
<div class="container" id="contact" name="contact">
   <div class="row">

      <h4 class="centered">THANKS FOR VISITING US</h4></div>
      <hr>

      <div class="col-lg-12">
       
         <h4>Contact Information</h4>
     
            <center><a href="https://www.facebook.com/groups/837424239656270/"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://twitter.com/SocialThon"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://plus.google.com/u/2/102540893630511551963/about"><i class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UCioWZa-eSxOPy4Y7Secwr5A"><i class="fa fa-youtube-square fa-2x"></i></a></center>
        
      </div>
      <!-- col -->
     
      <div class="col-lg-12">
         <h4>Support Us <br>  <h6>
            <center><p>Socialthon needs your help.</p></center>
         </h6> </h4>
      </div>

   <!-- row -->
</div>
<!-- container -->
<div id="footerwrap">
   <div class="container">
   
                   <footer> <img src='/assets/logo.jpg'  height="30" width="30"/> Copyright &copy; Socialthon 
   </div>
</div>
