<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home" style="background:url('http://i.imgur.com/X5kMUxS.jpg') no-repeat center top; background-size: cover;">
   <header class="clearfix">

      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
      <style>
         h1 {
         font-family: 'Roboto Slab', serif;
         
         font-size: 80px;
         color: #aaaaaa;
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         
         margin-bottom: 0.67em;
         background: none !important;
         padding: 0 !important;
         }


         h2 {
         font-family: 'Roboto Slab', serif;
         text-align: center;
         font-size: 40px;
         color: white;
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         }

      </style>
      <h1><span class="icon icon-shield"></span></h1>
         <h1><center>Socialthon</center></h1>
          
         <h2><div class="title">For Khayelitsha Community </div></h2>
        
   </header>
</div>
<!-- /headerwrap -->
<section id="sixth" class="services text-center">
   <a class="anchor" id="whycode"></a>
   <div class="wrapper bg-colored ">
      <div class="container">
         <div class="row">
            <div class="span10 offset1">
               <br>
               <br>
               <h4 class="centered">VOLUNTEERING IN TOWNSHIP</h4>
               <div class="underline">
                  <hr />
               </div>
               <br>
               <div class="megawrapper">
                  <div class='videowrapper'>
                     <iframe id="youtube-pOG5uB8p8ew" class="youtube" width="970" height="546" src="http://www.youtube.com/embed/pOG5uB8p8ew" frameborder="0" allowfullscreen></iframe>
                     <br>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/UFzyRKk.jpg') no-repeat center top; background-size: cover;">
      <div class="container">
         <h3>
            <div class="title">

            <font size="40">Be the change you wish to see in the world</font>
            <hr>
            <font size="9"> <p> From the purely practical to the richly philosophical,<br> design is the solution to a host of challenges.</p></font>
            </div>
         </h3>
      </div>
      <!-- container -->
   </section>
   <!-- ==== PORTFOLIO ==== -->
   <div class="container" id="portfolio" name="portfolio">
      <br>
      <div class="row">
         <br>
         <h4 class="centered">OUR PROJECTS</h4>
         <hr>
         <br>
      </div>
      <!-- /row -->
      <div class="container">
         <div class="row">
            <!-- PORTFOLIO IMAGE 1 -->
            <div class="col-md-4 ">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="https://africaineblog.files.wordpress.com/2010/08/zz2_5240.jpg" alt="">
                     <figcaption>
                        <h5>Education</h5>
                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
               a modal for each of your projects. -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Education</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://mypr.co.za/wp-content/uploads/2015/04/South-Africa-Education-Market.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- PORTFOLIO IMAGE 2 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://travelblog.mtsobek.com/wp-content/uploads/2011/11/khayelitsha_township.jpg" alt="">
                     <figcaption>
                        <h5>Poverty</h5>
                        <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Poverty</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.timeslive.co.za/Feeds/2012/05/09/903136_762489.jpg/ALTERNATES/crop_630x400/903136_762489.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
            
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- PORTFOLIO IMAGE 2 -->
            <!-- PORTFOLIO IMAGE 3 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="https://redcrossyouth.files.wordpress.com/2011/08/regina_central-african-republic-daniel-cima.jpg" alt="">
                     <figcaption>
                        <h5>Health</h5>
                        <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Health</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.sagoodnews.co.za/images/Health-Clinic-on-Wheels-for-SA.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                     
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            </div>
            <!-- /col -->
        
         <!-- /row -->
         <!-- PORTFOLIO IMAGE 4 -->
         <div class="row">
            <div class="col-md-4 ">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://groundup.org.za/sites/default/files/styles/article_image/public/field/image/children_lose_their_playground.JPG?itok=wIkyQcXo" alt="">
                     <figcaption>
                        <h5>Arts & Culture</h5>
                        <a data-toggle="modal" href="#myModal3" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Arts & Culture</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://3.bp.blogspot.com/-A83WV9wiRuo/VC25LeRWrwI/AAAAAAAAqJw/KeWGL6G7nJY/s1600/10306643_10152557212474213_913169517535983530_n.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            
            <!-- /col -->
            <!-- PORTFOLIO IMAGE 5 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://3.bp.blogspot.com/-nbkjF53nRJM/ThxYtjSSMKI/AAAAAAAAACg/3IuibhY4i-c/s1600/01300470.jpg" alt="">
                     <figcaption>
                        <h5>Business</h5>
                        <a data-toggle="modal" href="#myModal5" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Business</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.capetown.travel/cache/ce_cache/made/IMG_7700_(3)_580_387_80_s.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
            
            <!-- /col -->
            <!-- PORTFOLIO IMAGE 6 -->
            <div class="col-md-4">
               <div class="grid mask">
                  <figure>
                     <img class="img-responsive" src="http://africagreenmedia.co.za/wp-content/uploads/2015/05/FS.jpg" alt="">
                     <figcaption>
                        <h5>Food Security</h5>
                        <a data-toggle="modal" href="#myModal6" class="btn btn-primary btn-lg">Take a Look</a>
                     </figcaption>
                     <!-- /figcaption -->
                  </figure>
                  <!-- /figure -->
               </div>
               <!-- /grid-mask -->
            </div>
            <!-- /col -->
            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Food Security</h4>
                     </div>
                     <div class="modal-body">
                        <p><img class="img-responsive" src="http://www.irtiqa.co.za/wp-content/uploads/2013/10/green-deen.jpg" alt=""></p>
                        <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
               <!-- /.modal-dialog -->
            </div>
         <!-- /row -->
         <br>
         <br>
      </div>
      <!-- /row -->
   </div>
   </div>
   </section>
   <!-- /container -->
   <!-- ==== SECTION DIVIDER4 ==== -->





   <section class="section-divider textdivider divider3" style="background:url('http://i.imgur.com/8HnUL9K.jpg') no-repeat center top; background-size: cover;">
      <div class="container">
         <h3>
            Our Story
            <hr>
            <p>Timeline</p>
         </h3>
      </div>
      <!-- container -->
   </section>
   <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
      
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://i.imgur.com/3FLLdYR.jpg?3" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06/02/2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                  <h6>  <p class="text-muted"> Bandwidth Barn </p><p class="text-muted">Discover the community</p></h6>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://i.imgur.com/VClUVtb.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06/06/2015</h4>
                                    <h4 class="subheading">Socialthon is Born</h4>
                                </div>
                                <div class="timeline-body">
                                   <h6> <p class="text-muted">Knead Bakery & Cafe</p>
                                   
                                     <p class="text-muted">Created a blueprint for our long-term project</p></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

   </section>
<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6" style="background:url('http://aow.co.za/wp-content/uploads/2012/07/2816-Aow-Anton-Gericke.jpg') no-repeat center top; background-size: cover;">
   <div class="container">
      <h3>
      <br>
         Khayelitsha Community 
         <hr>
         <p>Cape Town</p>
      </h3>
   </div>
   <!-- container -->
</section>
<!-- section -->
<div class="container" id="contact" name="contact">
   <div class="row">
      <br>
      <h4 class="centered">THANKS FOR VISITING US</h4>
      <hr>
      <br>
      <br>
      <div class="col-lg-4">
         <h4>Contact Information</h4>

         <p><a href="https://www.facebook.com/groups/837424239656270/"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://twitter.com/SocialThon"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://plus.google.com/u/2/102540893630511551963/about"><i class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UCioWZa-eSxOPy4Y7Secwr5A"><i class="fa fa-youtube-square fa-2x"></i></a>
         </p>
      </div>
      <!-- col -->
     
      <div class="col-lg-6">
         <h4>Support Us</h4>
         <h6>
            <p>Socialthon needs your help.</p>
         </h6>
      </div>
      <!-- col -->
   </div>
   <!-- row -->
</div>
<!-- container -->
<div id="footerwrap">
   <div class="container">
      

                   <footer> <img src='/assets/logo.jpg'  height="30" width="30"/> Copyright &copy; Socialthon 
   </div>
</div>
