<%=render 'nav'%>
List of Health Projects
<section id="sixth" class="services text-center">
  <a class="anchor" id="whycode"></a>
  <div class="wrapper bg-colored "> 
   <div class="container">
    <div class="row">
     <div class="span10 offset1">
        <br />
        <div class="megawrapper">
          <div class='videowrapper'>
            <iframe id="youtube-nKIu9yen5nc" class="youtube" width="970" height="546" src="http://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p><%= link_to 'Back to Projects', projects_path%></p>