<h1>Newprojects#index</h1>

<%@newprojects.each do |newproject|%>
<%=newproject.title%>
<%=link_to "NewProject show page", user_newproject_path(current_user,newproject.id)%> <br>

<%end%>
<%=link_to "Create NewProject", new_user_newproject_path(current_user)%>

