
<%=render 'nav'%> 

<br>
<br>
<h2><center>Create New Project!</center></h2>
<%=render 'form'%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>

<br>
<div id="footerwrap">
   <div class="container">
      

                   <footer> <img src='/assets/logo.jpg'  height="30" width="30"/> Copyright &copy; Socialthon 
   </div>
</div>
