<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
   
  </head>
  <body>
  <a href="https://www.facebook.com/groups/837424239656270/"><i class="fa fa-facebook-square fa-2x"></i></a>
  <a href="https://twitter.com/SocialThon"><i class="fa fa-twitter-square fa-2x"></i></a>
  
List of Poverty Projects

<p><%= link_to 'Back to Projects', projects_path%></p>
  </body>
</html>