<strong>Projects</strong>
<div id='user'>I am a user. Move your mouse over me</div>
<div id='popup'>Extended info about a user</div>
<div>I a piece of useless information. No use hovering over me.</div>
<p><strong>Education</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><strong>Business</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><strong>Youth Center</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><strong>Health</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><strong>Sports</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><strong>Poverty</strong></p>
<p><strong>Project1</strong>
<strong>Project2</strong>
<strong>Project3</strong></p>
<p><%= link_to 'Home', users_path%></p>